@use '../../styles/abstracts/colors'

.button
  // spacing
  padding: 26px 58px


  // font
  font-size: 2.5rem
  font-weight: bold

  // box
  border-radius: 90px
  border: 8px solid colors.$button-foreground

  // others
  background-color: colors.$button-background
