@use '../../styles/utilities' as *
@use '../../styles/abstracts/colors'
@use '../../styles/abstracts/breakpoints'

.card
  // size & position
  +fx-vertical
  +p(3em)

  // box
  border-radius: 14px
  box-shadow: 0 0 10px 2px colors.$card-shadow

  &__image
    // size & position
    +mb(3em)

    // box
    border-radius: 14px
  
  &__description
    // font
    font-size: 3rem
    text-align: center

    // others
    color: colors.$card-description

.button
  align-self: center
  +mtb(38px)
  
  // box
  border-radius: 90px
  border: 8px solid colors.$button-foreground

  // others
  background-color: colors.$button-background

@media screen and (min-width: breakpoints.$desktop)
  .card
    box-shadow: 0 0 2px 1px colors.$card-shadow
    +max-w(324px)
    +p(1.5em)
    +h(100%)

    &__image
      border-radius: 4px
      +mb(1em)

    &__description
      font-size: 1rem
      +h(100%)
  
  .button
    +mtb(14px, 0)