@use '../../styles/utilities' as *
@use '../../styles/abstracts/colors'
@use '../../styles/abstracts/breakpoints'

// For mobile
.header
  // size & position
  +fx-vertical
  +p(12em, 2em)
  align-items: center
  justify-content: center

  // background
  background-image: url('http://via.placeholder.com/600x600')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover

  // others
  color: colors.$light-text
  box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 30%)
  text-align: center

  &__title
    font-weight: bold
    font-size: 8rem

  
  &__subtitle
    font-size: 4rem


// For desktop
@media screen and (min-width: breakpoints.$desktop)
  .header
    background-image: url('http://via.placeholder.com/1920x650')
    +p(11em, 2em)

    &__title
      font-size: 4.2rem
    
    &__subtitle
      font-size: 2.3rem
  

  

